PROJECT_NAME=tech_Track
GLOBAL_PREFIX=api/v1

# Context7
# https://context7.com/dashboard
CONTEXT7_API_KEY=your_context7_api_key_here

# Stitch by Google
# https://stitch.withgoogle.com/settings
STITCH_API_KEY=your_stitch_api_key_here

# Vercel
# https://vercel.com/account/settings/tokens
VERCEL_API_TOKEN=your_vercel_token_here

# Supabase
# https://supabase.com/dashboard/account/tokens
SUPABASE_ACCESS_TOKEN=your_supabase_access_token_here
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres
DIRECT_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres

# Clerk Authentication
# https://dashboard.clerk.com/apps/
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key
CLERK_JWT_KEY="-----BEGIN PUBLIC KEY-----
YOUR_CLERK_RSA_PUBLIC_KEY
-----END PUBLIC KEY-----"

# Aplicação
FRONTEND_PORT=3000
BACKEND_PORT=3001
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1

